@import '../globle/variables';
@import '../globle/responsive';

html,
body{
  background: #e5e9ec;
  color: $color-def;
}

#main{
  padding-top: 58px - 12;
  padding-bottom: 58px - 12;
  padding-left: 320px;
  background: #fff;
}

#top{
  margin-top: 130px;
  margin-bottom: 14px;
  height: 67px;
  .fr{
    margin-top: 27px;
    font-size: 14px;
    .u-btn{
      margin-left: 15px;
    }
  }
}

.m-logo{
  float: left;
  overflow: hidden;
  padding-top: 55px;
  width: 348px;
  height: 0;
  @include background($url:'common/logo.png');
}
.u-sologn{
  float: left;
  margin-top: 20px;
  margin-left: 27px;
  font-size: 30px;
  line-height: 1;
}

.row{
  $width: 86px;
  padding: 12px 0;
  height: 41px;
  .cell-th,
  .cell-td,
  input,
  .ipt-msg{
    float: left;
  }
  .ipt-msg{
    position: relative;
    width: 237px;
  }

  .u-ipt-msg-online{
    line-height: 36px;
  }

  .z-success{
    .u-i{
      position: absolute;
      top: 12px;
      left: -51px;

    }
  }

  .z-error{
    .ipt-msg{
      color: #f00;
    }
  }

  .cell-th{
    width: $width;
    line-height: 41px;
    font-size: 14px;
  }

  .cell-td{
   position: relative;
  }

  .u-ipt-large,
  .u-ipt-small{
    margin-right: 16px;
  }
  .m-btn{
    padding-left: $width;
    label{
      margin-right: 20px;
      a{
        color: #0aa699;
      }
    }
    .u-checkbox{
      margin-top: 7px;
      margin-right: 10px;
    }
  }

  .ver_code{
    img{
      margin-right: 15px;
    }
  }
}

.z-success{
  .u-i{
    width: 19px;
    height: 20px;
    @include background($url: 'common/suc.png')
  }
}


.row-sms{
  padding-left: 86px;
  .ipt-msg{
    padding-top: 4px;
  }
  .u-i{
    margin-right: 6px;
    float: left;
  }
  .msg-cnt{
    font-size: 14px;
  }
  .btn-grey-1{
    margin-right: 6px;
  }
}

$ipt-pd-lr: 5px;
.u-ipt{
  border: 1px solid #c1c9cd;
  padding: 10px $ipt-pd-lr;

  height: 19px;

  line-height: 19px;
  @include border-radius(2px);
  &:focus{
    @include box-shadow(0 0 4px rgba(10,166,153,.75));
  }
}

.u-ipt-large{
  @extend .u-ipt;
  width: 388 - ($ipt-pd-lr * 2);
}
.u-ipt-small{
  @extend .u-ipt;
  width: 180 - ($ipt-pd-lr * 2);
}

.u-checkbox{
  vertical-align: top;
  display: inline-block;
  width: 19px;
  height: 19px;
  @include background($url:'common/cb_n.png');
}
.u-checkbox-slt{
  @include background($url:'common/cb_s.png');
}
.pwd-lev{
  position: absolute;
  bottom: -16px;
  left: 324px;
}
.pwd-lev,
.pwd-lev-0,
.pwd-lev-1,
.pwd-lev-2{
  width: 63px;
  height: 9px;
  background: #b5b5b5;
}

.pwd-lev-0,
.pwd-lev-1,
.pwd-lev-2{
  background-image: url('../../img/common/pw_lev.png');
}


.pwd-lev-0{
  width: 21px;
}
.pwd-lev-1{
  width: 42px;
}

.pwd-lev-2{
  width: 63px;
}

#login{
  margin-top: 244px;
  padding: 67px 0 45px;
  @include border-radius(4px);
  background-color: #fff;
  .m-av{
    position: relative;
    margin-bottom: 87px;
    text-align: center;
    height: 55px;

    .u-img{
      position: absolute;
      top: -35px;
      left: 50%;
      margin-left: -67px;

      width: 135px;
      height: 135px;

      @include background($url: 'common/av_bg.png');
    }

  }
  .m-fm-box{
    position: relative;
    ul{
      margin: 0 auto;
      width: 401px;
    }
    li{
      position: relative;
      margin-bottom: 35px;
      font-size: 14px;
    }

    .u-error{
      position: absolute;
      top: -33px;
      left: 0;
      width: 100%;
      text-align: center;
      color: #a60a0a;
    }

    .login-ipt{
      border: 1px solid #d8dbdd;
      padding: 10px;
      padding-right: 41px;
      width: 348px;
      height: 15px;
      @include border-radius(3px);

      &:focus{
        @include box-shadow(0 0 4px rgba(10,166,153,.75));
      }
    }

    .login-pwd {
      color: #0a9f93;
    }


    .u-ipt-small{
      width: 170px;
      padding-right: 10px;
    }

    .vcode{
      margin-left: 14px;
    }
    .ipt-msg{
      display: none;
    }

    .z-error{
      input{
        @include box-shadow(0 0 4px rgba(166,10,10,.75));
      }
    }

    .u-i{
      position: absolute;
      top: 1px;
      left: 361px;
      width: 41px;
      height: 35px;
    }
    .u-i-user{
      @include background($url: 'common/login-user.png')
    }
    .u-i-pwd{
      @include background($url: 'common/login-pwd.png')
    }
    .u-i-reload{
      top: 14px;
      left: 378px;
      width: 15px;
      height: 14px;
      @include background($url: 'common/reload.png')
    }

    .u-color{
      color: #0090d9;
    }
    .m-btn{
      margin-bottom: 0;
      text-align: right;
    }
  }
  .u-checkbox{
    margin-top: 1px;
  }
  .reg-btn{
    margin-top: 12px;
  }
}

.m-ft{
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #b4b6b8;
}

.ie7{
  .m-fm-box{
    .u-checkbox{
      margin-top: 9px;
    }
  }
  #login {
    .m-fm-box{
      .u-i-user,
      .u-i-pwd{
        top: 2px;
      }
    }
    .u-checkbox{
      margin-top: 0;
    }
  }
}

.ie8{
  .m-fm-box{
    .u-checkbox{
      margin-top: 6px;
    }
  }
}

.ie8,.ie9{

  #login {
    .u-checkbox{
      margin-top: 2px;
    }
  }
}